body{
    background-color: lightcoral;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(Blossom.jpeg);
}
h1{
    font-size: 20px;
    text-align: center;
}
p{
    color: antiquewhite;
}
.container{
    background-color: darkkhaki;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    border: 10px rgba(0, 0, 0, 0.39) solid;
}
.container2{
    background-color: darkseagreen;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    }